.manifest-tutorial .manifest-underlay {
  display: block;
}
.manifest-tutorial .manifest-active {
  position: relative;
  z-index: 3;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: 3;
  opacity: 1;
}
.manifest-underlay {
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
@-webkit-keyframes pulsate {
  0% {
    opacity: 0.0;
  }
  25% {
    opacity: 1.0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.manifest-container {
  position: absolute;
  z-index: 3;
}
a[data-manifest="end"] {
  display: none;
}
.manifest-last [data-manifest="next"] {
  display: none;
}
.manifest-last [data-manifest="end"] {
  display: inline-block;
}
.manifest-first [data-manifest="previous"] {
  display: none;
}
.manifest-end [class*="manifest-"] {
  display: none;
}
