.manifest-tutorial {
	.manifest-underlay {
		display: block;
	}

	.manifest-active {
		position: relative;
		z-index: 3;
	}
}

.manifest-underlay {
	background: rgba(0,0,0,0.5);
	z-index: 2;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
}
